<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vu.emapis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMapis">
        <activity
            android:name=".userAgreementDialog"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ByUserVehicleActivity"
            android:exported="false"/>
        <activity
            android:name=".GeneralStatsActivity"
            android:exported="false"/>
        <activity
            android:name=".userIndividualTripStatsActivity"
            android:exported="false" />
        <activity
            android:name=".userIndividualTripsActivity"
            android:exported="false" />
        <activity
            android:name=".openWeatherAPITest"
            android:exported="false" />
        <activity
            android:name=".VolleyCallBackTest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeveloperSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".UserRemoveVehicleActivity"
            android:exported="false"
            android:label="@string/title_activity_user_remove_vehicle"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EMapis.NoActionBar" />
        <activity
            android:name=".UserVehicleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripEndActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RechargingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripSettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OngoingTripActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>